/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-gen-2019, 15.45.41
    Author     : tener
*/

.index-div{
    border-radius: 6px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px;
}
.navbar{
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
}
.nav-link{
    color: black;
    font-family: "Roboto";
    font-size: 14px;
    opacity: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Roboto";
    font-size: 14px;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: lightgrey;
   
   
}

.signup-div{
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    font-size: 20px;
    margin-bottom: -10px;
    font-weight: 500;
    color: green;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form-control mr-sm-2 {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: 50px;
    font-family:"Roboto" ;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    color:black;
    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn-signin{
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Roboto";
    
    outline: 0;
    border: 0;
    color: black;
    background:#ABA194;
    transition: 0.3s;
    
    &:hover {
        background: grey;
    }
}

.alert alert-success{
  font-family: "Roboto";
    
}



* {
  margin: 0; 
  padding: 0;

}

body {
  font-family: lato;
  color: black;
 
}

h1 {
  font-weight: normal;
  font-size: 8px;
  font-weight: normal;
 
  padding: 55px 30px;
  span { 
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}

p {
  display: block;
  float: right;
  font-size: 12px;
}

html, 
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 100px -1;
}

.sticky {
	height:  100px; 
}

footer {
        background-color: gray;
	height:  100px; 

  h1 { 
    padding-top: 20px!important;
  }
}

button{
    position: relative;
    padding: 7px;
}
/* Other Classes for Page Styling */
.col-md-8{
    left:17%;
    top:7%
}


.container{
   margin-top: 0px;
    background-color: white;
    padding-bottom: 10px;
}



form button { margin: 5px 0px; }
textarea { display: block; margin-bottom: 10px; }
/*post*/
.post { border: 1px solid #ccc; margin-top: 10px; }
/*comments*/
.comments-section { margin-top: 10px; border: 1px solid #ccc; }
.comment { margin-bottom: 10px; }
.comment .comment-name { font-weight: bold; }
.comment .comment-date {
	font-style: italic;
	font-size: 0.8em;
}
.comment .reply-btn, .edit-btn { font-size: 0.8em; }
.comment-details { width: 91.5%; float: left; }
.comment-details p { margin-bottom: 0px; }
.comment .profile_pic {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	float: left;
	border-radius: 50%;
}
/*replies*/
.reply { margin-left: 30px; }
.reply_form {
	margin-left: 40px;
	display: none;
}
#comment_form { margin-top: 10px; }
@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}